.banner {
  height: 70vh;
  background-image: url("../images/banner.jpeg");
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  position: relative;
}

.banner-content {
  padding-left: 15vw;
  padding-right: 10vw;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.banner-content img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}


@media (min-width: 100px) and (max-width: 1000px) {
  .banner-content img {
    display: none;
  }
  .banner-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .banner-content h1 {
    font-size: 24px;
  }

  .banner {
    height: fit-content;
  }
}
