.infrastructure {
  height:fit-content;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}

.infrastructure .services-content .square-yellow {
  position: absolute;
  border: #FFC107 solid 10px;
  height: 350px;
  width: 350px;
  position: absolute;
  top: -245px;
  bottom: auto;
  left: auto;
  right: -161px;
  margin: 0 auto;
}
