p {
  color: #0A0A0A;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #FAFAFA;
  text-align: center;
  font-size: 45px;
  line-height: 1.3;
  margin: 0 auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #157EE8;
  text-align: center;
  font-size: 36px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #0A0A0A;
  font-size: 24px;
  line-height: 29px;
  position: absolute;
  top: -42px;
  bottom: auto;
  left: 20%;
  right: auto;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: #F10E3F;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.title-blue {
 height: 20vh;
 width: 100%;
 text-align: center;
 background-color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
}
